ANN deals with numerical dataset(continuous, binary, categorical)

Churn_modelling will tell whether person will exit the firm or not.
Here data of bank detsils is given we have predict he/she will left the bank i.e will close the account or will not.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv("D:\CoEP\Smartbridge\Class_work\Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [4]:
x= df.iloc[:,3:13].values
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [5]:
y= df.iloc[:,13].values
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer([("On",OneHotEncoder(),[1])], remainder="passthrough")
x = ct.fit_transform(x)
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [7]:
x.shape

(10000, 12)

In [8]:
x = x[:,1:]
x

array([[0.0, 0.0, 619, ..., 1, 1, 101348.88],
       [0.0, 1.0, 608, ..., 0, 1, 112542.58],
       [0.0, 0.0, 502, ..., 1, 0, 113931.57],
       ...,
       [0.0, 0.0, 709, ..., 0, 1, 42085.58],
       [1.0, 0.0, 772, ..., 1, 0, 92888.52],
       [0.0, 0.0, 792, ..., 1, 0, 38190.78]], dtype=object)

In [9]:
x.shape

(10000, 11)

In [10]:
x[0]

array([0.0, 0.0, 619, 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [11]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
x[:,3] = lb.fit_transform(x[:,3])
x

array([[0.0, 0.0, 619, ..., 1, 1, 101348.88],
       [0.0, 1.0, 608, ..., 0, 1, 112542.58],
       [0.0, 0.0, 502, ..., 1, 0, 113931.57],
       ...,
       [0.0, 0.0, 709, ..., 0, 1, 42085.58],
       [1.0, 0.0, 772, ..., 1, 0, 92888.52],
       [0.0, 0.0, 792, ..., 1, 0, 38190.78]], dtype=object)

In [12]:
x[0]

array([0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88], dtype=object)

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(x,y, test_size=0.3, random_state=0)

As there is large range difference between independet variables, we have to apply normalisation/standardisation.

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

#The transformation aplied on x_train same we haev to apply pn x_test. if we do sc.fit_transform(x_test) here,
#then it will be some other transformation.
#execute this only onece nahitar next transformation will be applied to this transformed data.

In [15]:
x_train

array([[-0.56987189, -0.5731713 , -0.09792126, ...,  0.64198477,
         0.96683535, -0.76862426],
       [-0.56987189, -0.5731713 , -1.12612023, ...,  0.64198477,
        -1.03430227, -1.39359887],
       [-0.56987189, -0.5731713 , -0.62230274, ..., -1.55766936,
         0.96683535, -1.49739308],
       ...,
       [-0.56987189, -0.5731713 ,  0.89943174, ...,  0.64198477,
        -1.03430227,  1.41400417],
       [-0.56987189,  1.74467913, -0.62230274, ...,  0.64198477,
         0.96683535,  0.84625811],
       [ 1.75478035, -0.5731713 , -0.28299708, ...,  0.64198477,
        -1.03430227,  0.32689267]])

In [16]:
#save the transformation to apply in our model
from joblib import dump
dump(sc, "ANN_transform.save")

['ANN_transform.save']

we are saving this transformation so that when user give the input we can apply this transformation model "ANN_transform.save"
to that input get tranformed value which will be passed to our web application.

## ANN layer building

In [17]:
import keras #for layers
from keras.models import Sequential #Sequential is used to initialise the model
from keras.layers import Dense # is used to build layers

Using TensorFlow backend.
C:\Users\Admin\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Admin\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [18]:
keras.__version__

'2.2.4'

In [19]:
model =  Sequential() #model is object of Sequential

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [20]:
x_train.shape #11 inputes are there

(7000, 11)

### Adding input layer

In [21]:
model.add(Dense(input_dim= 11, init="random_uniform",activation='relu',output_dim=15)) #input layer+ first hidden layer
'''
input_dim= 11 is the 11 input independent variables in dataset
init="random_uniform" randomly assigns weights
output contains positive values so apply relu activation function
output_dim=15 is the hidden layer neurons
single neuron is called perceptron
'''

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=11, activation="relu", units=15, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

'\ninput_dim= 11 is the 11 input independent variables in dataset\ninit="random_uniform" randomly assigns weights\noutput contains positive values so apply relu activation function\noutput_dim=15 is the hidden layer neurons\nsingle neuron is called perceptron\n'

In [22]:
model.add(Dense(output_dim=8,init="random_uniform",activation='relu')) 
#2nd hidden layer with 8 neurons
#1st hidden layer=15 neurons, 15//2=8 so 2nd layer with 8 neurons

C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=8, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [23]:
model.add(Dense(output_dim=1,init="random_uniform",activation='sigmoid')) #output layer with 1 neuron

#activation='sigmoid' because output is 0 or 1

C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [24]:
model.compile(optimizer="adam",loss= "binary_crossentropy",metrics=["accuracy"])

'''
adam is for batch gradient descent, SGD is for stochastic GD
take type of loss depend upon output variable like "categorical_crossentropy,binary_crossentropy"
cost function used is accuracy, for continuous values "mse" is used
'''

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

'\nadam is for batch gradient descent, SGD is for stochastic GD\ntake type of loss depend upon output variable like "categorical_crossentropy,binary_crossentropy"\ncost function used is accuracy, for continuous values "mse" is used\n\n'

In [25]:
model.fit(x_train,y_train,epochs=50, batch_size=32)

#batch_size should be in powers of 2

WARNING:tensorflow:From C:\Users\Admin\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/50
7000/7000 [==============================] - 1s 98us/step - loss: 0.5585 - acc: 0.7953
Epoch 2/50
7000/7000 [==============================] - 0s 51us/step - loss: 0.4331 - acc: 0.7977
Epoch 3/50
7000/7000 [==============================] - 0s 53us/step - loss: 0.4277 - acc: 0.7977
Epoch 4/50
7000/7000 [==============================] - 0s 69us/step - loss: 0.4233 - acc: 0.7977
Epoch 5/50
7000/7000 [==============================] - 0s 63us/step - loss: 0.4191 - acc: 0.8104
Epoch 6/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.4155 - acc: 0.8274
Epoch 7/50
7000/7000 [==============================] - 0s 55us/step - loss: 0.4119 - acc: 0.8287
Epoch 8/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.4089 - acc: 0.8324
Epoch 9/50
7000/7000 [==============================] - 0s 57us/step - loss: 0.4067 - acc: 0.8320
Epoch 10/50
7000/7000 [==============================] - 0s 55us/step - loss: 0.4050 - acc: 0.8333
Epoch 11/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.4034 - acc: 0.8346
Epoch 12/50
7000/7000 [==============================] - 0s 70us/step - loss: 0.4019 - acc: 0.8336
Epoch 13/50
7000/7000 [==============================] - 0s 66us/step - loss: 0.4008 - acc: 0.8340
Epoch 14/50
7000/7000 [==============================] - 0s 69us/step - loss: 0.3998 - acc: 0.8341
Epoch 15/50
7000/7000 [==============================] - 0s 67us/step - loss: 0.3990 - acc: 0.8359
Epoch 16/50
7000/7000 [==============================] - 0s 65us/step - loss: 0.3979 - acc: 0.8344
Epoch 17/50
7000/7000 [==============================] - 0s 64us/step - loss: 0.3976 - acc: 0.8360
Epoch 18/50
7000/7000 [==============================] - 1s 78us/step - loss: 0.3967 - acc: 0.8334
Epoch 19/50
7000/7000 [==============================] - 0s 67us/step - loss: 0.3960 - acc: 0.8374
Epoch 20/50
7000/7000 [==============================] - 0s 67us/step - loss: 0.3954 - acc: 0.8366
Epoch 21/50
7000/7000 [==============================] - 0s 65us/step - loss: 0.3949 - acc: 0.8350
Epoch 22/50
7000/7000 [==============================] - 0s 56us/step - loss: 0.3946 - acc: 0.8373
Epoch 23/50
7000/7000 [==============================] - 0s 55us/step - loss: 0.3941 - acc: 0.8364
Epoch 24/50
7000/7000 [==============================] - 0s 65us/step - loss: 0.3938 - acc: 0.8377: 0s - loss: 0.3854 - acc:
Epoch 25/50
7000/7000 [==============================] - 0s 57us/step - loss: 0.3933 - acc: 0.8381
Epoch 26/50
7000/7000 [==============================] - 0s 55us/step - loss: 0.3929 - acc: 0.8373
Epoch 27/50
7000/7000 [==============================] - 1s 77us/step - loss: 0.3936 - acc: 0.8361
Epoch 28/50
7000/7000 [==============================] - 0s 71us/step - loss: 0.3927 - acc: 0.8379
Epoch 29/50
7000/7000 [==============================] - 1s 76us/step - loss: 0.3922 - acc: 0.8380
Epoch 30/50
7000/7000 [==============================] - 0s 68us/step - loss: 0.3919 - acc: 0.8387
Epoch 31/50
7000/7000 [==============================] - 0s 67us/step - loss: 0.3918 - acc: 0.8383
Epoch 32/50
7000/7000 [==============================] - 0s 65us/step - loss: 0.3910 - acc: 0.8386
Epoch 33/50
7000/7000 [==============================] - 0s 68us/step - loss: 0.3907 - acc: 0.8390
Epoch 34/50
7000/7000 [==============================] - 1s 74us/step - loss: 0.3903 - acc: 0.8380
Epoch 35/50
7000/7000 [==============================] - 0s 67us/step - loss: 0.3893 - acc: 0.8391
Epoch 36/50
7000/7000 [==============================] - 0s 70us/step - loss: 0.3888 - acc: 0.8384
Epoch 37/50
7000/7000 [==============================] - 0s 69us/step - loss: 0.3886 - acc: 0.8390
Epoch 38/50
7000/7000 [==============================] - 1s 77us/step - loss: 0.3868 - acc: 0.8413
Epoch 39/50
7000/7000 [==============================] - 0s 63us/step - loss: 0.3861 - acc: 0.8416
Epoch 40/50
7000/7000 [==============================] - 0s 67us/step - loss: 0.3831 - acc: 0.8429
Epoch 41/50
7000/7000 [==============================] - 0s 70us/step - loss: 0.3797 - acc: 0.8424
Epoch 42/50
7000/7000 [==============================] - 0s 68us/step - loss: 0.3752 - acc: 0.8454
Epoch 43/50
7000/7000 [==============================] - 1s 72us/step - loss: 0.3721 - acc: 0.8476
Epoch 44/50
7000/7000 [==============================] - 0s 67us/step - loss: 0.3677 - acc: 0.8491
Epoch 45/50
7000/7000 [==============================] - 0s 70us/step - loss: 0.3635 - acc: 0.8500
Epoch 46/50
7000/7000 [==============================] - 0s 68us/step - loss: 0.3597 - acc: 0.8501
Epoch 47/50
7000/7000 [==============================] - 0s 70us/step - loss: 0.3558 - acc: 0.8521
Epoch 48/50
7000/7000 [==============================] - 1s 72us/step - loss: 0.3531 - acc: 0.8537
Epoch 49/50
7000/7000 [==============================] - 1s 71us/step - loss: 0.3512 - acc: 0.8549
Epoch 50/50
7000/7000 [==============================] - 0s 65us/step - loss: 0.3482 - acc: 0.8570

In [26]:
y_pred= model.predict(x_test)
y_pred
#sigmoid range is between 0 to 1

array([[0.31077585],
       [0.39842978],
       [0.19140577],
       ...,
       [0.0765008 ],
       [0.02905142],
       [0.64222294]], dtype=float32)

In [27]:
y_pred= (y_pred>0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [28]:
y_test

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [29]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[2229,  150],
       [ 303,  318]], dtype=int64)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.849

If the output is continuous values then to output layes apply activation function as relu.
Leaky rely activation function can handle negative values present in column.