# Module 1-Python basics

In [45]:
import sys
print(sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [5]:
#printing values
print("Hello python 101")

Hello python 101

In [19]:
print("Hello\nWorld!")

Hello
World!

In [20]:
# print('Hello World!')

## Types

In [48]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [46]:
11

11

In [6]:
#int, float, string
type(11)

int

In [47]:
12.5

12.5

In [7]:
type(10.45)

float

In [8]:
type("hello")

str

In [49]:
float(2)

2.0

In [50]:
int(1.1) # loss of information

1

In [52]:
int("4") # convert string to integer

4

In [53]:
# Convert an integer to a string

str(1)

'1'

In [54]:
# Convert a float to a string

str(1.2)

'1.2'

In [55]:
# Type of True

type(True)

bool

In [56]:
# Type of False

type(False)

bool

float(2):2.1 #int to float
int('1'):1 # string to int
str(1):"1.2"  #convert int to string

In [15]:
type(int(1.0))

int

In [16]:
bool(1)

True

In [17]:
bool(0)

False

In [18]:
int(bool(1))

1

In [57]:
# Convert True to float

float(True)

1.0

## Expression & variables

In [24]:
25+25

50

In [22]:
50-60

-10

In [25]:
50/5

10.0

In [26]:
12*12

144

In [28]:
12/5

2.4

In [29]:
25/6

4.166666666666667

In [31]:
25//6  #double slash is used for to get integer division

4

In [32]:
60*2+30

150

In [34]:
30+2*60

150

In [35]:
(30+2)*60

1920

In [37]:
var =10
var

10

In [39]:
x =67+45+23+90
x

225

In [41]:
y=x/25
y

9.0

In [44]:
total_min = 43+42+57
total_hour = total_min/60
total_hour

2.3666666666666667

In [58]:
type(6 / 2)

float

In [59]:
type(6//2) #as the double slashes stand for integer division

int

## Strings

In [60]:
arr= "Hey beautiful"
arr

'Hey beautiful'

In [61]:
arr[::2]# every 2nd value is selected

'Hybatfl'

In [62]:
# Get every second element in the range from index 0 to index 4

arr[0:5:2]

'Hyb'

In [63]:
len(arr)

13

In [66]:
arr1 = arr +" take care"

In [67]:
arr1

'Hey beautiful take care'

In [88]:
3 * "joe & chandler"

'joe & chandlerjoe & chandlerjoe & chandler'

In [80]:
b= arr.upper()
b

'HEY BEAUTIFUL'

In [82]:
c= b.replace("HEY","HI")
c

'HI BEAUTIFUL'

In [83]:
arr

'Hey beautiful'

In [84]:
arr.find('ey')

1

In [85]:
Numbers="0123456"
Numbers[::2] # with stride value 2

'0246'

In [86]:
"0123456".find('1')

1

In [92]:
# If cannot find the substring in the string then output is negative value

Numbers.find('Jasdfasdasdf')

-1

In [89]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [90]:
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [93]:
3 + 2 * 2

7

In [94]:
name = 'Lizz'
print(name[0:2])

Li

In [95]:
'1'+'2'

'12'